* {
    padding: 0%;
    margin: 0%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: aqua;
    height: 100vh;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    justify-content: center;
}

.logo {
}

.top {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

#search {
    grid-row: 2 / 1;
    grid-column: 2 / 1;
}

#name {
    grid-column: 4 / 4;
    grid-row: 1 / 1;
}

#welcome {
    grid-column: 1 / 1; 
    grid-row: 2 / 2;
}

#new {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

#upload {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

#share {
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}

.main {
    background-color: dodgerblue;
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 2;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 3fr;
}

.projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: cadetblue;
}

.trending {
    background-color: gold;
    grid-row: 2 / 3;
}

.announcements {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}